.about {
    width: 100%;
    height: 100vh;
    position: relative;
    top: -2vw;
}

.about p {
    text-align: justify;
    text-justify: inter-word;
}

.about h1 {
    border-bottom: 1px solid red;
}