.user-png {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.topic {
    font-weight: 700 !important;
}

.navbar-brand {
    color: rgb(255, 94, 0);
    font-size: 25px;
    font-weight: bold;
}

.btn-nav {
    background-color: rgb(255 21 1);
    border-radius: 5px;
    color: white !important;
    font-weight: 400;
}

.navbar-nav {
    align-items: center;
}

@media (max-width:600px) {
    .navbar-nav {
        align-items: normal !important;
    }
}